
<div class="w-full flex justify-center lg:h-[430px]  absolute top-[100px] lg:relative lg:top-0">
    <div class="bg-white w-[500px] mx-5 rounded-[10px] shadow-md md:shadow-none px-6 py-10 space-y-5 lg:rounded-none">

    <div>
    <h1 class="text-denim font-bold text-[24px] mb-1">Finishing up</h1>
    <p class="text-grey text-sm">Double-check everything looks OK before confirming.</p>
    </div>
     
    <div class="space-y-3 rounded-md bg-magnolia py-3 px-4">
    <div  class=" w-full flex items-center justify-between gap-3 border-b-[1px] pb-4 border-light-gray ">
          <div>
          <p class="text-denim font-medium">Arcade (Monthly)</p>
          <p class="text-grey text-sm underline">Change</p>
          </div>
          <div>
            <p class="text-sm text-denim font-bold">$9/mo</p>
          </div>
    </div>
    
    <div class="flex items-center justify-between">
    <p class="text-grey text-sm">Online service</p>
    <p class="text-sm text-grey">$1/mo</p>
    </div>

    <div class="flex items-center justify-between">
    <p class="text-grey text-sm">Larger storage</p>
    <p class="text-sm text-grey">$1/mo</p>
    </div>
    </div>

    <div class="flex items-center justify-between px-5">
        <p class="text-grey text-sm">Total(per month)</p>
        <p class="text-sm text-purplish-blue font-bold">$12/mo</p>
    </div>

    </div>
</div>

