  
  <div class="relative lg:flex lg:items-center min-h-screen">
    <div class=" lg:bg-white lg:rounded-lg lg:shadow-lg lg:flex lg:justify-between lg:gap-10 lg:max-w-[850px] mx-auto lg:p-3">

    <app-step-sidebar></app-step-sidebar>

    <div>
    <app-personal-info-form></app-personal-info-form>
    <!-- <app-select-plan-form></app-select-plan-form> -->
    <!-- <app-add-on-form></app-add-on-form> -->
     <!-- <app-summary-form></app-summary-form> -->
    <!-- <app-confirm-form></app-confirm-form> -->
    <app-next-back-buttons></app-next-back-buttons>
    </div>
    
    </div>
  </div>
