
<div class="w-full flex justify-center lg:h-[430px] absolute top-[100px] lg:relative lg:top-0">
    <div class="bg-white w-[500px]  mx-5 rounded-[10px] shadow-md md:shadow-none px-6 py-10 space-y-5 lg:rounded-none">
    <div>
    <h1 class="text-denim font-bold text-[24px] mb-1">Personal Info</h1>
    <p class="text-grey text-sm">Please provide your name, email address, and phone number.</p>
    </div>

    <form  class="space-y-4 " [formGroup]="personalInfoForm">
    <div>
        <div class="flex justify-between">
        <label for="name" class="text-denim text-sm">Name</label><br>
        <div *ngIf="personalInfoForm.get('name')?.invalid && personalInfoForm.get('name')?.touched" class="text-strawberry-red text-sm font-bold">
            This field is required
        </div>
        </div>
        <input formControlName="name" [ngClass]="{'border border-strawberry-red' : personalInfoForm.get('name')?.invalid && personalInfoForm.get('name')?.touched}"  type="text" placeholder="e.g. Stephen King" class="border-[1.5px] border-Cool-gray rounded-md py-2 px-5 w-full outline-none">
    </div>

    <div>
        <div class="flex justify-between">
        <label for="email" class="text-denim text-sm">Email Address</label><br>
        <div *ngIf="personalInfoForm.get('email')?.invalid && personalInfoForm.get('email')?.touched" class="text-strawberry-red text-sm font-bold">
            This field is required
        </div>
        </div>
        <input formControlName="email" [ngClass]="{'border border-strawberry-red' : personalInfoForm.get('email')?.invalid && personalInfoForm.get('email')?.touched}" type="text" placeholder="e.g. stephenking@lorem.com" class="border-[1.5px] border-Cool-gray rounded-md py-2 px-5 w-full outline-none">   
    </div>

    <div>
        <div class="flex justify-between">
        <label for="phone" class="text-denim text-sm">Phone Number</label><br>
        <div *ngIf="personalInfoForm.get('phone')?.invalid && personalInfoForm.get('phone')?.touched" class="text-strawberry-red text-sm font-bold">
            This field is required
        </div>
        </div>
        <input formControlName="phone" [ngClass]="{'border border-strawberry-red' : personalInfoForm.get('phone')?.invalid && personalInfoForm.get('phone')?.touched}" type="text" placeholder="e.g. +1 234 567 890" class="border-[1.5px] border-Cool-gray rounded-md py-2 px-5 w-full outline-none">
    </div>
    </form>
    </div>
</div>

