
<div class="w-full flex justify-center  absolute top-[100px] lg:relative lg:top-0">
    <div class="bg-white  mx-5 rounded-[10px] shadow-md md:shadow-none px-6 py-10 space-y-5 lg:rounded-none">
    <div>
    <h1 class="text-denim font-bold text-[24px] mb-1">Personal Info</h1>
    <p class="text-grey">Please provide your name, email address, and phone number.</p>
    </div>

    <form action="" class="space-y-4 ">
    <div>
        <label for="name" class="text-denim text-sm">Name</label><br>
        <input type="text" placeholder="e.g. Stephen King" class="border-[1.5px] border-Cool-gray rounded-md py-2 px-5 w-full outline-none">
    </div>

    <div>
        <label for="email" class="text-denim text-sm">Email Address</label><br>
        <input type="text" placeholder="e.g. stephenking@lorem.com" class="border-[1.5px] border-Cool-gray rounded-md py-2 px-5 w-full outline-none">
    </div>

    <div>
        <label for="phone" class="text-denim text-sm">Phone Number</label><br>
        <input type="text" placeholder="e.g. +1 234 567 890" class="border-[1.5px] border-Cool-gray rounded-md py-2 px-5 w-full outline-none">
    </div>
    </form>
    </div>
</div>
